body {
  background-color: #E0BBE4; /* Ton violet pastel */
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Pour éviter les barres de défilement */
}

.dancer {
  width: 250px;
  height: 250px;
  background-image: url('Beaver.gif'); /* Vérifie bien la majuscule ici ! */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}

