body {
  background-color: #FFDE21; 
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
}

.dancer {
  width: 250px;
  height: 250px;
  background-image: url('beaver.gif');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}

